@import url('./global.css');
@import url('./sections_Mentions_légales/header.css');
@import url('./sections_Mentions_légales/main.css');
@import url('./sections_Mentions_légales/footer.css');
@import url('./Responsive/Mention_Responsive.css');

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('/assets/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-italic-variablefont_wght-webfont.woff2') format('woff2'),
        url('/assets/fonts/montserrat-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
        url('/assets/fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

:root {
    --font-family: "Poppins", sans-serif;
    --primary-color: 0, 0, 0;
    --secondary-color: 255, 255, 255;

    --blue-color: 0, 0, 128;
    --red-color: 145, 0, 0;
    --yellow-color: 255, 210, 0;
    --green-color: 6, 224, 127;

    --headline-font-size: 52px;
    --headline-font-weight: 700;

    --subheadline-font-size: 14px;
    --subheadline-font-weight: 400;

    --body-font-size: 16px;
}