@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./global.css');
@import url('./sections_Conditions_dutilisation/header.css');
@import url('./sections_Conditions_dutilisation/main.css');
@import url('./sections_Conditions_dutilisation/footer.css');
@import url('./Responsive/Conditions_Responsive.css');

:root{
    --font-family:"Poppins",sans-serif;
    --primary-color: 0,0,0;
    --secondary-color: 255,255,255;

    --blue-color: 0,0,128;
    --red-color:145, 0, 0;
    --yellow-color:255,210,0;
    --green-color:6,224,127;

    --headline-font-size:52px;
    --headline-font-weight:700;

    --subheadline-font-size:14px;
    --subheadline-font-weight:400;

    --body-font-size:16px;
}