.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.main__hero {
    background-color: rgb(16,82,110);
    color: #fff;
    text-align: center;
    display: flex;
    padding: 60px 20px;
    justify-content: center;
}

.main__hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.intro {
    padding-top: 60px;
    max-width: 800px;
    margin: 0 auto 40px;
    text-align: center;
}

.intro h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}

.Politique {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.Politique p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.Politique ul {
    list-style-type: disc;
    margin-left: 20px;
}

.Politique li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}