#footer {
    width: 100%;
    padding: 20px 0;
    color: rgb(var(--secondary-color));
    background-color: rgb(var(--primary-color));
    display: flex;
    justify-content: center;
}

.footer__container {
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    flex-wrap: wrap;
}

.footer__horaire, .footer__contact, .footer__info {
    margin-bottom: 20px;
}

.footer__Adresse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

