.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.main__container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 20px 10px;
    background: rgb(16,82,110);
background: linear-gradient(90deg, rgba(16,82,110,1) 0%, rgba(0,211,254,1) 100%);
}

.main__hero {
    display: flex;
    align-items: center;
    gap: 50px;
    color: rgb(var(--secondary-color));
}

.main__hero-title {
    font-weight: var(--headline-font-weight);
    font-size: 60px;
    padding: 20px;
}

.main__img {
   width : 700px;
   height: auto;
   
}

.main__hero-button {
    padding: 20px;
}

.button {
    padding: 15px 30px;
    color: rgb(var(--secondary-color));
    background: rgb(83, 83, 83);
    font-size: 30px;
    border: 3px solid white;
    font-weight: 700;
    cursor: pointer;
    
}

.button:hover {
    color: rgb(var(--secondary-color));
    background-color: rgb(83, 83, 83, 0.5);
}

.icon-img {
    width: 40px;
    height: auto;
}

.main__description-title-p {
    text-align: center;
    font-size: 50px;
    color: white;
}

.main__expertise_containers {
    width: 100%;
    height: 600px; 
   
}

.main__containers_items {
   
}