.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    

}

.main__container {
    width: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-bottom: 50px;
    background: rgb(16,82,110);
    background: linear-gradient(90deg, rgba(16,82,110,1) 0%, rgba(0,211,254,1) 100%);
    
}

.main__hero-title-description{
    display: flex;
    flex-direction: column;
}

.main__hero {
    display: flex;
    align-items: center;
    gap: 50px;
    color: rgb(var(--secondary-color));
}

.main__hero-description-p{
    font-size: 25px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;

}
.main__hero-title {
    font-weight: var(--headline-font-weight);
    font-size: 60px;
    text-align: center;
    padding: 20px;
}

.main__img {
    width: 700px;
    height: auto;
}

.main__hero-button {
    padding: 20px;
}

.button {
    padding: 15px 30px;
    color: rgb(var(--secondary-color));
    background: rgb(83, 83, 83);
    font-size: 30px;
    border: 3px solid white;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
    color: rgb(var(--secondary-color));
    background-color: rgb(83, 83, 83, 0.5);
}

.icon-img {
    width: 40px;
    height: auto;
}

.main__description-title-p {
    text-align: center;
    font-size: 50px;
    color: white;
}

.main__expertise_containers {
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
    
}

.main__containers_items {
    width: 300px;
    height: 650px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(128, 128, 128, 0.2);
}

.main__expertise-p {
    text-align: center;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
}

.main__expertise-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.main__expertise-description{
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    font-size: 20px;

}

.main__description{
    text-align: center;
}

.main__section {
    width: 80%;
    margin-top: 40px;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}

/* Titres des sections principales */
.main__section-title {
    font-size: 42px;
    font-weight: 600;
    color: rgb(16, 82, 110);
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
}

/* Styles spécifiques pour les descriptions et les listes */
.solution__description,
.about__description,
.values__list,
.testimonial__quote,
.blog-post__content,
.cta__list
 {
    font-size: 20px;
    line-height: 1.6;
    color: #666;
    
}

.values__list {
    margin-top: 10px;
    padding-left: 20px;
}

/* Styles pour les témoignages */
.testimonial__quote {
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
    
}

/* Conteneur pour les éléments des témoignages */
.testimonial {
    font-size: 20px;
    margin-bottom: 20px;
}

.cta{
    font-size: 20px;
}

.main__section_principale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
