.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 80px;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer .col {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer .col h3 {
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer .col p,
.footer .col a {
    margin: 5px 0;
    color: #bbb;
    text-decoration: none;
}

.footer .col a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: #bbb;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fff;
}