@media (min-width: 490px) and (max-width: 1000px){
    .header__nav {
        flex-direction: column;
        align-items: center;
    }

    .nav__menu {
        display: none;
    }

    .nav__mobile-menu {
        display: block;
    }

    .Logo {
        max-width: 250px;
    }

    .img-menu{
        width: 60px;
        height: auto;
    }

    .nav__menu__container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .nav__menu-items {
        font-size: 1.2em;
    }

    .main__hero h1 {
        font-size: 2em;
    }

    .intro h2 {
        font-size: 1.5em;
    }

    .intro p {
        font-size: 1em;
    }

    .solution {
        padding: 20px;
    }

    .solution h3 {
        font-size: 1.5em;
    }

    .solution p,
    .solution li {
        font-size: 1em;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer .col {
        text-align: center;
    }

    .footer .col h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .nav__Logo-img {
        width: 75px;
    }
    .main__hero-title {
        font-size: 30px;
    }
    .nav__menu-items {
        display: none;
    }

    .nav__mobile-menu {
        display: block;
    }

    .header__nav {
        justify-content: space-between;
    }


    .Logo {
        width: 100%;
    }
    .nav__menu-items {
        display: none;
    }
    
    
    .img-menu{
        width: 40px;
        height: auto;
    }

    .main__hero {
        padding: 20px;
        width: 100%;
    }

    .main__hero h1 {
        font-size: 1.8em;
    }

    .intro {
        padding-top: 40px;
    }

    .intro h2 {
        font-size: 1.2em;
    }

    .intro p {
        font-size: 0.9em;
    }

    .solution {
        padding: 15px;
        margin: 10px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main__section_principale{
        display: flex;
       justify-content: center;

    }
    .solution h3 {
        font-size: 1.2em;
    }

    .solution p,
    .solution li {
        font-size: 0.9em;
    }

    .footer {
        padding:20px;
        width: 100%;
       
    }

    .footer .col h3 {
        font-size: 1em;
       
    }

    .footer .col p,
    .footer .col a {
        font-size: 0.9em;
       
    }

    .social-icons a {
        font-size: 20px;
        
    }
}